In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r'data\hf_m_2411\AMD_pct.csv')

In [19]:
df

,date,open,high,low,close,volume,open_pct_change,high_pct_change,low_pct_change,close_pct_change
0,2024-10-28 09:31:00-04:00,158.550003,158.869598,157.500000,157.555893,302197.0,0.031548,0.151107,-0.196505,-0.620727
1,2024-10-28 09:32:00-04:00,157.573502,157.990005,157.179993,157.789993,262222.0,-0.615895,-0.553657,-0.203179,0.148582
2,2024-10-28 09:33:00-04:00,157.785004,158.009995,157.371506,157.439301,223798.0,0.134224,0.012652,0.121843,-0.222253
3,2024-10-28 09:34:00-04:00,157.449997,157.879105,157.449997,157.705002,108839.0,-0.212318,-0.082836,0.049876,0.168764
4,2024-10-28 09:35:00-04:00,157.679993,158.000000,157.600006,157.910004,129812.0,0.146075,0.076575,0.095274,0.129991
...,...,...,...,...,...,...,...,...,...,...
7740,2024-11-22 15:55:00-05:00,138.259995,138.339996,138.119995,138.160004,109166.0,0.007229,0.052210,0.028964,-0.043407
7741,2024-11-22 15:56:00-05:00,138.160004,138.240005,138.130005,138.235001,72687.0,-0.072321,-0.072279,0.007247,0.054283
7742,2024-11-22 15:57:00-05:00,138.235001,138.300003,138.235001,138.289993,95725.0,0.054283,0.043401,0.076012,0.039782
7743,2024-11-22 15:58:00-05:00,138.288193,138.419998,138.268997,138.389999,151327.0,0.038480,0.086764,0.024593,0.072316
7744,2024-11-22 15:59:00-05:00,138.380005,138.500000,138.289993,138.350006,322931.0,0.066392,0.057796,0.015185,-0.028899

In [20]:
df_new = df[-130:-10]

In [21]:
df_new.to_csv("amd_hft_test.csv", index=False)

In [23]:
df_new

,date,open,high,low,close,volume,open_pct_change,high_pct_change,low_pct_change,close_pct_change
7615,2024-11-22 13:50:00-05:00,138.279999,138.279999,138.080002,138.100006,35997.0,-0.028925,-0.028925,-0.102809,-0.130165
7616,2024-11-22 13:51:00-05:00,138.089996,138.100006,137.979996,138.020004,73670.0,-0.137404,-0.130165,-0.072426,-0.057930
7617,2024-11-22 13:52:00-05:00,138.009995,138.089996,137.993607,138.079498,44175.0,-0.057935,-0.007248,0.009864,0.043105
7618,2024-11-22 13:53:00-05:00,138.080002,138.100006,138.020096,138.057693,29119.0,0.050726,0.007249,0.019196,-0.015791
7619,2024-11-22 13:54:00-05:00,138.065002,138.100006,138.039993,138.059998,30656.0,-0.010863,0.000000,0.014416,0.001669
...,...,...,...,...,...,...,...,...,...,...
7730,2024-11-22 15:45:00-05:00,138.029907,138.039993,137.960098,138.029999,23566.0,0.014495,0.014483,-0.007178,0.007241
7731,2024-11-22 15:46:00-05:00,138.039902,138.118195,138.032394,138.118195,48233.0,0.007241,0.056651,0.052404,0.063896
7732,2024-11-22 15:47:00-05:00,138.110001,138.130005,138.081604,138.110001,35830.0,0.050782,0.008551,0.035651,-0.005933
7733,2024-11-22 15:48:00-05:00,138.110001,138.110001,138.080002,138.108994,28054.0,0.000000,-0.014482,-0.001160,-0.000729
7734,2024-11-22 15:49:00-05:00,138.100006,138.178894,138.100006,138.119995,36338.0,-0.007237,0.049883,0.014487,0.007966